*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #F6F6ED;
    color: blue;
}

.accordion {
    margin: 6% auto;
    width: 35%;
  }

  .accordion-title{
    font-size: 3.5em;
    font-weight: 700;
    padding-bottom: 2%;
    color: #000;
    cursor: pointer;
 }
  .accordion ul {
    list-style: none;
  }
  .label-first{
    display: block;
    height: 100%;
  }

  .accordion input[type="radio"] {
    display: none;
  }
  
  .accordion .label-first .content {
    cursor: pointer;
  }

  .accordion .label-second {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    padding: 3% 0;
    border-top: 0.1em solid #ddd;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
  .accordion input[type="radio"]:checked + .label-second {
    color: #000;
  }
  .accordion .content {
    display: flex;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }
  
  .accordion input[type="radio"]:checked + .label-second + .content {
    max-height: 25rem;
    transition: max-height .8s ease-in;
  }
  
 
  .icon {
    width: 5%;
    height: 5%;
    visibility: hidden;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
  }

  .label-first input[type="radio"]:checked + .icon {
    transform: rotate(45deg);
  }